
<!DOCTYPE html>
<html lang="en">
<head>
    <!--<base href="/">-->
    <meta charset="utf-8">
    <title>eKYC Relying Party Demo - Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="eKYC Relying Party Demo Application">

    <!-- Le styles -->
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.7/jsoneditor.css" integrity="sha512-Sbn0ZCJ/Sq+RcpmI2np6vYlQBolmDPIrx95V3kOQU7RfEOWRCgEmDvj5lD4oNnx55KVIUfadYs8rk3OudD+dFA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.5.7/jsoneditor.min.js" integrity="sha512-AZMllTAUq+DfrIKphpa5ppBD0mZy08Orh+fDJiTYk5c6vw19I3ibbXduFt42BUQqYhKQXEVA+QLAZWw9YlO0Dw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/src/js/html5shiv.js"></script>
    <![endif]-->

    <style type="text/css">
        #jsoneditor {
            width: 700px;
            height: 700px;
        }
    </style>

</head>


<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#" target="_blank">Contact</a></li>
        </ul>
        <h1>eKYC Relying Party Demo</h1>
    </div>

    <hr>


    <div class="jumbotron2">

        <h3>You are now signed in.</h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">User Identifier</label>
                <div class="col-sm-10">
                    <pre id="username"></pre>
                </div>
            </div>
            <div class="form-group">
                <label for="claims" class="col-sm-2 control-label">User Info Claims</label>
                <div class="col-sm-10">
                    <pre id="claims" ></pre>
                </div>
            </div>
            <div class="form-group">
                <label for="jwt" class="col-sm-2 control-label">Decoded JWT</label>
                <div class="col-sm-10">
                    <pre id="jwt" ></pre>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-10 text-right" style="display: flex; padding:5px; justify-content:space-between">
                <button type="button"  onclick="getUserInfo()"  class="btn btn-info">Refresh User Info</button>
                <button type="button"  onclick="requestVc('any')"  class="btn btn-info">Verify User Data</button>
                <button type="button"  onclick="requestVc('full')"  class="btn btn-info">Verify Complete User Data</button>
                <button type="button"  onclick="showEditor()"  class="btn btn-info">Custom Claim Editor</button>
                <button type="button"  onclick="location.href='/logout'"  class="btn btn-info">Logout</button>
            </div>
        </div>

        <div id="editor-container" class="row" style="display: none">
            <div id="jsoneditor"></div>
            <div id="onValidationOutput"></div>
            <button type="button"  onclick="requestCustomClaims()"  class="btn btn-info">Send custom claim request</button>
        </div>
    </div>

    <hr>

    <div class="footer row">
        <div class="col-md-6">&copy; 2020 - 2021 Identity First Tech</div>
    </div>

    <script>
        function getUserInfo() {
            $.ajax({
                type: "GET",
                url: "/info",
                xhrFields: {
                    withCredentials: true
                },
                success: (data) => {
                    var parsedData = JSON.parse(data)
                    $("#username").text(parsedData.sub)
                    $("#claims").text(data)
                }
            });
        }
        function getJwt() {
            $.ajax({
                type: "GET",
                url: "/jwt",
                xhrFields: {
                    withCredentials: true
                },
                success: (data) => {
                    $("#jwt").text(data)
                }
            });
        }
        function requestVc(type) {
            window.location = "/login/"+type
        }

        function showEditor(){
            document.getElementById('editor-container').style.display = "block";
        }

        getUserInfo()
        getJwt()

        // create the editor


        function getRequestSchema() {
            return $.ajax({
                url: "static/json/verified_claims_request-12.json",
                dataType: "json",
                success: function (response) {
                    return response
                }
            });
        }

        function getDefaultRequest() {
            return $.ajax({
                url: "static/json/default_request.json",
                dataType: "json",
                success: function (response) {
                    return response
                }
            });
        }

        var editor

        function requestCustomClaims(){
            const json = editor.get()
            let claims = encodeURIComponent(JSON.stringify(json))
            window.location = "/custom/login?claims="+claims
        }

        $.when(getRequestSchema(),getDefaultRequest()).done(function(schemaResponse, defaultRequest){
            const container = document.getElementById('jsoneditor')
            const options = {
                mode: 'tree',
                modes: ['code', 'text', 'tree', 'preview'],
                schema:schemaResponse[0],
                onValidationError: function(errors) {
                    console.error('onValidationError', errors);
                    const outputEL = document.getElementById('onValidationOutput')
                    if(errors.length == 0) {
                        outputEL.innerHTML = '<span style="color:green">Schema has ' + errors.length + ' errors</span>';
                    }else{
                        outputEL.innerHTML = '<span style="color:red">Schema has ' + errors.length + ' errors</span>';
                    }
                },
            }
            editor = new JSONEditor(container, options)
            editor.set(defaultRequest[0])

        })

    </script>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!--<script src="/static/js/jquery.js"></script>-->
<!--<script src="/static/js/bootstrap-transition.js"></script>-->
<!--<script src="/static/js/bootstrap-alert.js"></script>-->
<!--<script src="/static/js/bootstrap-modal.js"></script>-->
<!--<script src="/static/js/bootstrap-dropdown.js"></script>-->
<!--<script src="/static/js/bootstrap-scrollspy.js"></script>-->
<!--<script src="/static/js/bootstrap-tab.js"></script>-->
<!--<script src="/static/js/bootstrap-tooltip.js"></script>-->
<!--<script src="/static/js/bootstrap-popover.js"></script>-->
<!--<script src="/static/js/bootstrap-button.js"></script>-->
<!--<script src="/static/js/bootstrap-collapse.js"></script>-->
<!--<script src="/static/js/bootstrap-carousel.js"></script>-->
<!--<script src="/static/js/bootstrap-typeahead.js"></script>-->
<!--<script src="https://code.jquery.com/jquery.js"></script>-->
</body>
</html>
